.mainContainer {
 
    width: 384px;
    height: 522px;
    margin: 8% auto auto auto;
    background-color: white;
    border-radius: 20px;
    border: 1px #111111 solid;
    box-shadow: 1px 1px 20px #111111;
}
.image img {

    width: 90%;
    height: auto;
    display: block;
    margin: 6% auto auto auto;
    border-radius: 20px;
}
.features {

    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 90%;
    margin-top: 8%;
    margin-right: auto;
    margin-left: auto;
}
.categoryLink {

    text-align: center;
    background-color: #F4D04E;
    width: 30%;
    padding: 6px;
    border-radius: 4px;
}
.categoryLink a {

    text-decoration: none;
    color: black;
    font-weight: 600;
    font-weight: bold;
}
.date {

    font-weight: 200;
    font-size: 14px;
}
.headline {

    color: #F4D04E;
    font-size: 24px;
}
.description {

    color: #6B6B6B;
    font-weight: 500;
}
.authorProfile {

    display: flex;
    flex-direction: row;
    max-width: 39%;
    margin-top: 2%;
    margin-left: 4%;  
}
.authorImage img {

    max-width: 60%;
    height: auto;
}
.authorName p {
    
    font-size: 12px;
    margin-top: 16%;
    width: 80px;
}